body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 450px .5fr;
}

header, footer{
    background: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    display: grid;
    place-items: center;
    clear: both;
}

.cont{
    display: grid;
    grid-template-columns: 55% 45%;
}

.lewy{
    background: #EFEFEF;
}

.jeden{
    height: 150px;
}

.dwa{
    height: 300px;
}

.prawy{
    background: #4FB3BF;
    height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
    width: 400px;
}

table, th, td{
    border: 1px solid #4FB3BF;
    border-collapse: collapse;
}

table{
    margin: auto;
    width: 80%;
}

th, td{
    padding: 4px;
}

tbody{
    transition: all ease-in-out .15s;
}

tbody:hover{
    background: #4FB3BF;
}
